@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@* @attribute [Authorize] *@

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>@_worldName</h1>
        <h3>@_playerNickname</h3>
        <FluentDivider />
        <FluentLabel>@_name</FluentLabel>
        <div>@_description</div>

        <FluentDivider />

        @if (@_commands is not null)
        {
            <CommandBar Commands="@_commands" ExecuteCommandAsync="@ExecuteCommand" />
        }

        <StoryLine LogLines="_logLines"></StoryLine>
        <FluentDivider />

    </Authorized>
    <NotAuthorized>
        <p><strong>Please <a href="authentication/login">log in</a>.</strong></p>
    </NotAuthorized>
</AuthorizeView>