<FluentCard>
    <FluentAccordion>
        @foreach (var item in Items)
        {
            @if (item.Kind == GameContracts.PlayerLogLineKind.Passage)
            {
                <FluentAccordionItem Expanded="@item.Expanded">
                    <span slot="heading">
                        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Stretch">
                            <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Left">
                                <FluentIcon Value="@GetIcon(item.Kind)" />
                                @item.Title
                            </FluentStack>
                            <FluentSpacer />
                            @if (item.SubItems is not null)
                            {
                                <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Right">
                                    @foreach (var subItem in item.SubItems)
                                    {
                                        <FluentIcon Value="@GetIcon(subItem.Kind)" />
                                    }
                                </FluentStack>
                            }
                        </FluentStack>
                    </span>

                    @item.Description

                    @if (item.SubItems is not null)
                    {
                        @foreach (var subItem in item.SubItems)
                        {
                            <FluentDivider Style="margin:12px" />
                            <div style="margin-left:24px">
                                <FluentStack Orientation="Orientation.Vertical">
                                    <div style="font-weight:bold">
                                        <FluentIcon Value="@GetIcon(subItem.Kind)" />
                                        @subItem.Title
                                    </div>
                                    <div>@subItem.Description</div>
                                </FluentStack>
                            </div>
                        }
                    }
                </FluentAccordionItem>
            }
            else
            {
                <FluentAccordionItem Heading="@item.Title" Expanded="@item.Expanded">
                    <FluentIcon Value="@GetIcon(item.Kind)" Slot="start" />
                    @item.Description
                </FluentAccordionItem>
            }
        }
    </FluentAccordion>
</FluentCard>
